.visualize-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex: 1;
	align-self: stretch;
}

.main-idea-container {
	font-size: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: inherit;
}

.idea-item-list {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}
