.idea-input-container {
	display: flex;
	justify-content: space-between;
	padding-top: 10px;
	margin-bottom: 10px;
}

.idea-input-field {
	width: 80%;
}

.idea-input-button-container {
	width: 19%;
}

.idea-input-button {
	height: 32px;
	width: 32px;
}
